    <div class="card-container">
      <div class="card">
        <div class="dot-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <h3>All Users</h3>
        <span class="counter" data-target="330">0</span>
      </div>
      <div class="card">
        <div class="dot-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <h3>All Categories</h3>
        <span class="counter" data-target="120">0</span>
      </div>
      <div class="card">
        <div class="dot-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <h3>All Products</h3>
        <span class="counter" data-target="950">0</span>
      </div>
    </div>

    <script>
      const counters = document.querySelectorAll(".counter");

      counters.forEach((counter) => {
        const updateCount = () => {
          const target = +counter.getAttribute("data-target");
          const current = +counter.innerText;
          const increment = target / 100;

          if (current < target) {
            counter.innerText = Math.ceil(current + increment);
            setTimeout(updateCount, 20);
          } else {
            counter.innerText = target;
          }
        };

        updateCount();
      });
    </script>