<div class="container-fluid px-0">
  <!-- Hero Section -->
  <%= render '/home/hero' %>
  <!-- End of Hero Section -->
  <!-- About Section -->
  <%= render '/home/about' %>
  <!--End of  About Section -->
  <!-- Features Section -->
  <%= render '/home/features' %>
  <!-- End of Features Section -->
  <!-- Contact Section -->
  <%= render '/home/contact' %>
  <!-- End of Contact Section -->
</div>
