<div id="<%= dom_id(product) %>" class="admin_product-details card mb-4">
  <div class="card-body">
    <h5 class="card-title admin_product-title"><strong>Name:</strong> <%= product.name %></h5>
    <p class="admin_product-description">
      <strong>Description:</strong> <%= product.description %>
    </p>
    <p class="admin_product-price">
      <strong>Price:</strong> <%= product.price %>
    </p>
  </div>
</div>
