<div id="mission" class="my-5 py-5" style="background-color: #f8f9fa;">
  <div class="text-center">
    <h2>Our Mission</h2>
    <p>We aim to provide top-notch services and products to our customers.</p>
  </div>
  <div class="row mt-4 text-center">
    <div class="col-md-4">
      <i class="fas fa-bullseye fa-3x text-primary mb-3"></i>
      <h5>Focus</h5>
      <p>We focus on delivering value to our clients.</p>
    </div>
    <div class="col-md-4">
      <i class="fas fa-hands-helping fa-3x text-primary mb-3"></i>
      <h5>Collaboration</h5>
      <p>Teamwork is at the heart of what we do.</p>
    </div>
    <div class="col-md-4">
      <i class="fas fa-lightbulb fa-3x text-primary mb-3"></i>
      <h5>Innovation</h5>
      <p>We thrive on creating innovative solutions.</p>
    </div>
  </div>
</div>