// Sassy
@import "bootstrap";
@import "admin/dashboard/metric-cards";
@import "profile/index";
@import "devise/register_edit";



.icon {
    width: 24px;
    height: 24px;
    fill: #333;
    display: inline-block;
    vertical-align: middle;
}