<div class="sidebar">
  <h4 class="text-center py-3 border-bottom">Admin</h4>
  <%= link_to admin_path do %>
    <i class="fas fa-tachometer-alt"></i> Dashboard
  <% end %>
  <%= link_to admin_categories_path do %>
    <i class="fas fa-list"></i> Categories
  <% end %>
  <%= link_to admin_products_path do %>
    <i class="fas fa-box"></i> Products
  <% end %>
  <a href="#">
    <i class="fas fa-shopping-cart"></i> Orders
  </a>
  <a href="#">
    <i class="fas fa-cogs"></i> Settings
  </a>
</div>
