<div class="sidebar">
  <h4 class="text-center py-3 border-bottom">Admin</h4>
  <a href="#">
    <i class="fas fa-tachometer-alt"></i> Dashboard
  </a>
  <a href="#">
    <i class="fas fa-list"></i> Categories
  </a>
  <a href="#">
    <i class="fas fa-box"></i> Products
  </a>
  <a href="#">
    <i class="fas fa-shopping-cart"></i> Orders
  </a>
  <a href="#">
    <i class="fas fa-cogs"></i> Settings
  </a>
</div>
