<div class="row mb-5">
  <div class="col text-center">
    <h2 class="mb-4">Featured Products</h2>
  </div>
</div>
<div class="row g-4">
  <% @products.each do |product| %>
  <div class="col-md-3">
    <div class="card">
      <%= image_tag product.image, class: "card-img-top", alt: "Featured Product 1" %>
      <div class="card-body text-center">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">$<%= product.price %></p>
        <button class="btn btn-primary btn-sm">Add to Cart</button>
      </div>
    </div>
  </div>
  <% end %>
</div>